*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F2F4F9;
    font-family: 'Coustard', serif;
}
.intro{
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    flex-direction: row;
    padding: 0% 10% 0% 10%;
    flex-wrap: wrap;
}
.empty{
    background-color: black;
    flex: 0.1;
}
.intro-content{
    flex: 1;
    font-family: 'Ubuntu', sans-serif;
}
span{
    color: #F05D7b;
}
.i-do{
    background-color: #FFFFFF;
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.i-do2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1em;
    color: #F05D7b;
}
.i-do3, .i-do4{
    flex: 1;
    display: flex;
    margin: 40px;
    font-size: 1.1em;
    
    justify-content: center;
    align-items: center;
}
.ui, .front-end, .android, .problem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px 20px;
    background-color: rgba(240, 93, 122, 0.25);
    margin-left: 20px;
    border-radius: 15px;
}
.omg, .txt{
    padding: 10px;
}