*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F2F4F9;
    font-family: 'Coustard', serif;
    display: flex;
    flex-direction: column;
}
.intro{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
    flex-direction: row;
    padding: 0% 10% 0% 10%;
    flex-wrap: wrap;
}
.empty{
    background-color: black;
    flex: 0.1;
}
.intro-content{
    flex: 1;
    font-family: 'Ubuntu', sans-serif;
}
span{
    color: #F05D7b;
}
.me-img{
    width: 55%;
    margin: 30px;
}
.i-do{
    background-color: #FFFFFF;
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.i-do2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1em;
    color: #F05D7b;
}

.i-do3, .i-do4{
    flex: 1;
    display: flex;
    margin: 40px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ui, .front-end, .android, .problem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px 20px;
    background-color: rgba(240, 93, 122, 0.25);
    margin-left: 20px;
    border-radius: 15px;
    height: 100%;
}
.omg, .txt{
    padding: 10px;
}
.fau{
    border-right: 2px solid #F05D7b;
    height: 80px;
    padding-left: 10px;
}
h4{
    border-bottom: 2px solid #F05D7b;
}

@media screen and (max-width: 900px){
    
    .intro-content{
        font-size: 80%;
    }
    .me-img{
        width: 90%;
    }
    .i-do{
        height: auto;
    }
    .ui, .front-end, .android, .problem{
        flex-direction: column;
        margin: 10px;
        width: 90%;
    }
    .fau{
        border: none;
    }
    h6{
        border-bottom: 2px solid #F05D7b;
    }
    .i-do3, .i-do4{
        margin: 0px;
        flex-direction: column;
    }
}
